
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @*<link href="~/Content/ErrorCenterMessage.css" rel="stylesheet" />*@
    <title>NotFound</title>
</head>
<body>
    <div class="alert">
        <div class="alert alert-warning text-center" style="height:50vh;">
            <h2 >Page Not Found</h2>
        </div>
    </div>


</body>
</html>
