@model IEnumerable<ClassLibrary.Models.KreiraniObrok>

@{
    ViewBag.Title = "UserMenus";

    var datum = Session["userDate"];

   // var datum = (string)ViewBag.datum;


}

<div class="container alert">

    @using (Html.BeginForm())
    {
        <fieldset class="border p-2">
            <legend class="w-auto" style="color:red;">Datum @datum</legend>


            @foreach (var item in Model)
            {

                @Html.Partial("_userMenus", item)

                }



        </fieldset>

        <div style="margin-top:15px;">
            @Html.ActionLink("Povratak", "CreateMeal", "Home", new { @class = "btn btn-primary" })
        </div>
    }

</div>


