body {
    background-color: #E0E0E0;
}

.container {
    width: 800px;
    margin: 50px auto;
    background-color: #F5F5F5;
    padding: 30px;
    box-shadow: 5px 5px 5px #808080;
    border-radius: 25px;
}

.spanReg {
    color: #337ab7;
    font-size: 3em;
}


label {
    font-style: italic;
}

.validatorColor{
    color:red;
}