
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogOut</title>
</head>
<body>
    <div>
        <div class="container alert">
            <p class="alert alert-success text-center">Korisnik <b>@Model</b> uspješno odjavljen. </p>
        </div>
    </div>
</body>
</html>
